<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Taskin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<meta name="ember-taskin/config/environment" content="%7B%22modulePrefix%22%3A%22ember-taskin%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22API_NAMESPACE%22%3A%22taskin/api%22%2C%22name%22%3A%22ember-taskin%22%2C%22version%22%3A%220.0.0+37f6f39e%22%2C%22API_HOST%22%3A%22http%3A//localhost%3A8000%22%2C%22API_ADD_TRAILING_SLASHES%22%3Atrue%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <link rel="stylesheet" href="/static/assets/vendor-969213113bf8ce8653053cf775905b0d.css" integrity="sha256-5TkWZwOs25hrG91gTZk3XPjJe8d4yhWtIFcK4p/Pm0s= sha512-HvxN2lh5wRYcHURug/yfoHGetnRqL4oUt4ZCZCuirm4hxOjJIr3ezBvSyPGYRNFGkpXxF6O0QrQhKZJHAC6aaA==" >
    <link rel="stylesheet" href="/static/assets/ember-taskin-d41d8cd98f00b204e9800998ecf8427e.css" integrity="sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU= sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg==" >


  </head>
  <body>


    <script src="/static/assets/vendor-cfcc3f7de4e00aaacfa1ab73ec58593e.js" integrity="sha256-RNxViJoeFbnJmiHCnaHU5b3pwLfEqfy0J0Y46nt6PTc= sha512-3s5MA6YR4Li8ATj2oa3p9m/4kDVnuTJSyeWJJqrWCTf5EBHkAaqV0tDUsDY3jwWsMfjJHBOApja+QJ3Wl+ZOyA==" ></script>
    <script src="/static/assets/ember-taskin-94bda890bae3c2c7c7f4a64c0020cf16.js" integrity="sha256-fDNkMp1ImKWEwxDLY7MmnBOuCCWqODU1VzIjhYw5Qkg= sha512-If7ue1rVxC0IL5C6UgNYmq9yVYBeapykE9MsiMiMIdX/QwXdgEuIF873MHuXYHycHsr+eUAuykyI8uN/9ZC7dg==" ></script>

    <div id="ember-bootstrap-wormhole"></div>
  </body>
</html>
