<div class="container">
  {{partial 'navbar'}}

  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {{!-- left menu --}}
  		<ul class="nav nav-sidebar">
        {{!-- <li></li> --}}
      </ul>
  	</div>
    <div class="col-sm-9 main">
      {{!-- right content --}}
    </div>
    {{outlet}}
  </div>
</div>
